%page {
  .page-content {
    text-align: center;

    section.intro {
      padding-top: 31px;

      h1 {
        font-size: 58px;
        font-weight: 100;
        letter-spacing: 3px;
        margin-bottom: 13px;
      }

      p {
        margin: 0 22px;
        line-height: 31px;
        font-size: 22px;
        font-weight: 200;
        letter-spacing: 0.4px;
      }
    }
  }
}
