header {
  $height: 65px;

  nav {
    $passiveColor: #B6B6B6; 
    $activeColor: $kubeColor;
    $hoverColor: $kubeColor;

    text-align: center;
    padding-top: 42px;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        height: $height;
        line-height: $height;
        vertical-align: middle;
        text-transform: uppercase;
        padding: 9px 18px;

        a {
          transition-duration: 0.4s;
          text-decoration: none;
          font-size: 20px;
          letter-spacing: 3px;
          font-weight: 200;
          color: $passiveColor;

          .logo-kube {
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            width: 54px;

            path {
              transition-duration: 0.5s;
              fill: $passiveColor;
            }

            &:hover {
              transform: scale(1.1);
              path {
                fill: $hoverColor;
              }
            }
          }

          &:hover {
            color: $hoverColor;
          }

          &.active {
            color: $activeColor;
            font-weight: 500;

            .logo-kube {
              width: 76px;

              path {
                fill: $kubeColor;
              }
            }
          }
        }

        &:first-child {
          text-align: right;
        }

        &:last-child {
          text-align: left;
        }
      }
    }
  }
}
